<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="all.css">

</head>
<body>
    
   <div class="div1">
        <form id="form1">
        <input type="text" id="address">
        <button>search by weather</button>
    </form>

   </div>
   <p class="p1" style= "display:block ;" >Welcome to our website.To know your country's weather, longtiute,latitude, please enter the name of your country</p>
   <div class="div2">
   <p id="country"></p>
   <p id="longtiude"></p>
   <p id="latitude"></p>
   <p id="forcast"></p>
   </div>
    <p id="error" style= "display:none;"></p>


    <script src="script.js"></script>
</body>
</html>